/*관리자 페이지 로고*/
.canvas{
        font-weight: 600;
        color: white;
        font-size: 1.7rem;
        margin-left: 30px;
        word-break: break-all;
        text-decoration: none;
}
/* 매니저 카테고리 */
.manager-container {
        display: flex;
        width: 100%;
}
.category-mana{
        background-color: #333333;
        width: 15%;
        height: 800px;
        text-align: left;
        margin-left: 15px;
        padding-top: 30px;
}
.category-content{
        flex: 1;
        height: 800px;
        padding: 20px;
}
/* 메뉴 셀렉 후 */
.sub-mana{
        display: flex;
        flex-direction: column;
        color: white;
        gap: 10px;
        padding-top: 50px;
}
.button{
        font-size: 0.8em;
        background-color: #666666;
        text-align: center;
        color: white;
        border-radius: 10px;
        width: 80px;
        padding: 5px;
}
.button2{
        font-size: 0.8em;
        background-color: #666666;
        text-align: center;
        color: white;
        border-radius: 30px;
        width: 50px;
        padding: 5px;
}
/* 캘린더 */
.calendar{
        padding: 2px;
        border: 1px solid #333333;
        border-radius: 10px;
        text-align: center;
        width: 180px;
}
/* 페이지네이션 */
.pagination{
        gap: 20px;
        display: flex;
        justify-content: center;
}
.paging-text{
        text-decoration:none;
        color:#c4c4c4;
}
.paging-active-text{
        text-decoration:none;
        color:#000000;
        font-weight: 600;
}
.light-but{
        border: 1px solid #999999;
        color: #999999;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 0.9em;
}