.canvas{
      font-weight: 600;
      color: white;
      font-size: 2rem;
      margin:0;
      word-break: break-all;
}
.manager-container {
    display: flex;
    width: 100%;
}
.category-mana{
        background-color: #333333;
        width: 18%;
        height: 800px;
        text-align: left;
        padding-left: 30px;
        padding-top: 30px;
}
.category-content{
        flex: 1;
        height: 800px;
        padding: 20px;
}
.sub-mana{
        display: flex;
        flex-direction: column;
        color: white;
        gap: 10px;
        padding-top: 50px;
        padding-left: 10px;
}